@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";


// netlev colors

$cover-pink: rgb(233, 79, 113);
$cover-darkblue: rgb(60, 139, 205);
$cover-purple: rgb(213, 168, 251);
$cover-lightblue: rgb(161, 219, 233);
$cover-yellow: rgb(249, 250, 174);
$cover-green: rgb(152, 232, 151);
$cover-orange: rgb(245, 181, 92);


// color labels from bulma 

$primary: $cover-pink;
$scheme-main: $cover-yellow;
$link: $cover-darkblue;
$info: $cover-lightblue;
$success: $cover-green;
$warning: $cover-purple;
$danger: $cover-orange;

// card formatting



@import "../node_modules/bulma/bulma";

