@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

// colors from book cover (tentative

$cover-pink: rgb(233, 79, 113);
$cover-darkblue: rgb(60, 139, 205);
$cover-purple: rgb(213, 168, 251);
$cover-lightblue: rgb(161, 219, 233);
$cover-yellow: rgb(249, 250, 174);
$cover-green: rgb(152, 232, 151);
$cover-orange: rgb(245, 181, 92);

// there's also a second pink which is rgb(249, 102, 121) (block 2)
// and a second yellow/orange hybrid which is rgb(237, 203, 116) (title text)



// color labels from bulma 

$primary: $cover-pink;
$scheme-main: $cover-lightblue;
$link: $cover-darkblue;
$info: $cover-yellow;
$success: $cover-green;
$warning: $cover-purple;
$danger: $cover-orange;


@import "../node_modules/bulma/bulma";

