@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";


// color labels from bulma 

$primary: $cover-pink;
$scheme-main: $cover-yellow;
$link: $cover-darkblue;
$info: $cover-lightblue;
$success: $cover-green;
$warning: $cover-purple;
$danger: $cover-orange;

// card formatting

$card-header-padding: 3rem;
$card-content-padding: 3rem;


@import "../node_modules/bulma/bulma";

